<div class="cards">
    <div class="card-item">
        <div class="card-heading">
            <span class="member-name">Hoof</span>
            <span class="team-position">- Lead Designer</span>
        </div>
        <div class="card-picture"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7yS2-B61kHsq_UuiTRfMIy2Pt2ssBIQTkLA&usqp=CAU"></div>
        <div class="card-text">Hoof is our most talanted designer. However he's not the talkative one and I would advise not getting on the wrong side of him.</div>
    </div>
    <div class="card-item">
        <div class="card-heading">
            <span class="member-name">Nibs</span>
            <span class="team-position">- CEO/Director</span>
        </div>
        <div class="card-picture"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7yS2-B61kHsq_UuiTRfMIy2Pt2ssBIQTkLA&usqp=CAU"></div>
        <div class="card-text">Nibs is our go to woman. She's the ceo/director of orange rabbit ang runs fast when she has too.</div>
    </div>
    <div class="card-item">
        <div class="card-heading">
            <span class="member-name">Squawk</span>
            <span class="team-position">- Developer</span>
        </div>
        <div class="card-picture"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7yS2-B61kHsq_UuiTRfMIy2Pt2ssBIQTkLA&usqp=CAU"></div>
        <div class="card-text">Squawk is no social bunny. But when it comes to programming he stands out from the crowd.</div>
    </div>
</div>