.four-columns {
	width: 100%;
	display: flex;
}

.column-item {
	display: inline-block;
	width: 25%;
	font-size: 1em;
	margin: 20px;
}

.more {
	float: right;
	font-style: italic;	
}

.more a {
	text-decoration: none;
	color: orange; 
} 