<div class="section-forma">
    <div class="field">
        <div class="field-name">Name:</div>
        <div class="field-input"><input type="text"></div>
    </div>
    <div class="field">
        <div class="field-name">Email:</div>
        <div class="field-input"><input type="text"></div>
    </div>
    <div class="field">
        <div class="field-name">Message:</div>
        <div class="field-input"><input type="text"></div>
    </div>
</div>
<div class="submit-button">
    <button>Submit</button>
</div>