.menu-list {
    list-style-type: none;
	  display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

.menu-item {
	width:50px;
	height:50px;
	margin: 0 1em;
}


.menu-item + p{
	text-align: center;
}

a {
  text-decoration: none;
  color: dimgrey;
}
