</div class="menu">
<nav>
    <ul class="menu-list">
        <li><a href=""><img class="menu-item" src="https://image.flaticon.com/icons/png/128/151/151911.png"><p>home</p></a></li>
        <li><a href=""><img class="menu-item" src="https://image.flaticon.com/icons/png/128/151/151912.png"><p>about</p></a></li>
        <li><a href=""><img class="menu-item" src="https://image.flaticon.com/icons/png/512/151/151932.png"><p>work</p></a></li>
        <li><a href=""><img class="menu-item" src="https://image.flaticon.com/icons/png/512/151/151908.png"><p>blog</p></a></li>
        <li><a href=""><img class="menu-item" src="https://image.flaticon.com/icons/png/512/151/151922.png"><p>contact</p></a></li>
    </ul>
</nav>
</div>