body * {
  outline: 1px solid lightgray;
}


.container {
  padding: 26px 19px 0;
}

.header {
  width: 50%;
  height: 100px;
  background-color: #358265;
  margin: 0 auto;
}

.two-columns_item {
  display: inline-block;
  width: 50%;
}

.green {
  height: 100 px;
  background-color: green;
}

.three-columns_item {
  display: inline-block;
  width: 33.3%;
}

.red
.blue
.yellow {
  height: 100px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: grey;
  margin: 0 auto;
}